@import "lib/govuk-frontend/dist/govuk/base";

body:not(.js-enabled) .js-visible {
  display: none;
}
.autocomplete__input.govuk-input--error {
  border-color: #d4351c;
}
.autocomplete__dropdown-arrow-down {
  z-index: 0;
  pointer-events: none;
}
@media (min-width: 40.0625em){
  .autocomplete__wrapper {
    width: 75%!important;
  }
}

.copy-to-clipboard {
  padding: 7px 30px;
  &.not-supported {
    display: none;
  }
  .copied-content {
    display: none;
  }
  &.copied-to-clipboard {
    .copied-content {
      display: inline;
    }
    .copy-content {
      display: none
    }
  }
}

@media print {
  .copy-to-clipboard,
  .hmrc-header.hmrc-header--with-additional-navigation .hmrc-sign-out-nav {
    display: none !important;
  }
}
